*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.clock{
    height: 40vw;
    width: 40vw;
    margin:auto;
    background-image: url(clock.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
#hour , #minute , #second{
    position: absolute;
    background: #000;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    height: 22%;
    width: 1%;
    top: 28.3%;
    left: 49.8%;
}
#minute {
    height: 30%;
    width: 1%;
    top: 20.2%;
    left: 49.7%;
}
#second{
    height: 38%;
    width: 0.6%;
    top: 12.4%;
    left: 50%;
    background: rgb(198, 7, 7);
}
#o{
    height: 0.7vw;
    width: 0.7vw;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-50%);
    z-index: 10;
}